* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  margin-top: 0px;
}
.App {
  width: 90vw;
  max-width: 1170px;
  margin: 5rem auto;
  display: grid;
  gap: 2rem;
}

.Navbar {
  margin-top: 0px;
}

.NewContact {
  color: rgb(0, 0, 0);
  background-color: rgb(11, 195, 155);
  border-radius: 20px;
}
.Contact {
  color: white;
  background-color: gray;
  border-radius: 20px;
  width: 40vw;
  max-width: 450px;
  display: grid;
  min-width: 375px;
  padding: 20px;
}
.pageTitle {
  font-size: 3em;
  color: antiquewhite;
  font-weight: 200;
}

.list-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 450px));
  grid-row-gap: 20px;
  padding: 20px;
  justify-content: space-around;
}

.deleteButton {
  max-width: 40px;
  border-radius: 50%;
  justify-self: right;
}
.contact-fields {
  background-color: rgb(36, 91, 105);
  border-radius: 10px;
  padding: 10px;
  color: rgb(255, 255, 231);
}
.contact-fields h3 {
  background-color: rgb(55, 141, 131);
  border-radius: 5px;
  padding: 10px;
}
.contact-fields h2 {
  background-color: rgb(55, 141, 131);
  border-radius: 5px;
  padding: 10px;
  display: flex;
}

.telephone-numbers {
  background-color: rgb(116, 212, 201);
  border-radius: 5px;
  padding: 10px;
  margin-left: 10px;

  font-size: large;
  justify-self: right;
}
.favorite {
  background-color: rgb(207, 209, 55);
}
.NewUser {
  color: rgb(0, 0, 0);
  background-color: rgb(8, 158, 146);
  border-radius: 20px;
  max-width: 400px;
}
.alert-msg {
  color: rgb(255, 255, 255);
  font-size: 1rem;
  font-weight: 600;
  border-radius: 3px;
  max-width: fit-content;
  margin-top: 3px;
}
.alert-msg.success {
  background-color: rgba(80, 189, 80, 0.767);
}
.alert-msg.danger {
  background-color: rgb(228, 48, 48);
}
